@import './Variables.scss';

.header {
  width: 100%;
  align-items: center;
  justify-content: center;
  font-weight: $boldFont;
  line-height: 20px;
  background-color: $background-color;
}
.sticky {
  width: calc(100% - 16px);
  position: fixed;
  top: 0;
}
